@font-face {
    font-family: avenir;
    src: url('assets/font/avenir_next_regular.otf');
}

body {
    font-family: avenir;
    color: white;
    overflow: hidden;
}


/*                                        Intro Styling                                          */

#page-container {
  height: 100%;
  padding: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
  padding: 0;
}

#intro-container{
  width: 100vw;
  height: 100vh;
  background-image: url('assets/intro/wallpaper_codepeter.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}


/*                                        YourFoundry Styling                                          */



#yourfoundry-container{
  width: 100vw;
  height:100vh;
  background-image: url('assets/yourfoundry/wallpaper_yourfoundry.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}


/*                                        Reelsquad Styling                                          */



#reelsquad-container{
  width: 100vw;
  height:100vh;
  background-image: url('assets/reelsquad/wallpaper_reelsquad.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}



/*                                        Instalytics Styling                                          */



#instalytics-container{
  width: 100vw;
  height:100vh;
  background-image: url('assets/instalytics/wallpaper_instalytics.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}



#logo-menu-container{
  height: 150px;
}

#logo{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#menu-container {
  text-align: right;
}
#menu{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
