@font-face {
    font-family: avenir;
    src: url('assets/font/avenir_next_regular.otf');
    font-family: avenir-bold;
    src: url('assets/font/avenir_next.ttc');
}

body {
    font-family: avenir;
    color: white;
    overflow: hidden;
}


/*                                        Intro Styling                                          */


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
  padding: 0;
}




#intro-container{
  width: 100vw;
  height: 100vh;
  background-image: url('assets/intro/wallpaper_codepeter.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}


/*                                        YourFoundry Styling                                          */



#yourfoundry-container{
  width: 100vw;
  height:100vh;
  background-image: url('assets/yourfoundry/wallpaper_yourfoundry.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}


/*                                        Reelsquad Styling                                          */



#reelsquad-container{
  width: 100vw;
  height:100vh;
  background-image: url('assets/reelsquad/wallpaper_reelsquad.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}



/*                                        Instalytics Styling                                          */



#instalytics-container{
  width: 100vw;
  height:100vh;
  background-image: url('assets/instalytics/wallpaper_instalytics.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}


/*                                        Pageclub Styling                                          */



#pageclub-container{
  width: 100vw;
  height:100vh;
  background-image: url('assets/pageclub/wallpaper_pageclub.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
}



/*                                        Menu/Nav Styling                                          */

#menu-buttons-container {
  height: 100%;
  padding: 0;
}

#menu-buttons {
  padding: 0;
  height: 100%;
}


#logo-menu-container{
  height: 20%;
}

#logo{
  padding-top: 50px;
  position: fixed;
  z-index: 100;
}

#logo:hover{
  cursor: pointer;
}

#menu-container {
  text-align: right;
}
#menu, #exit{
  /* position: relative;
  top: 50%;
  transform: translateY(-50%); */
  padding-top: 50px;
  position: fixed;
  z-index: 1500;
}

#menu:hover, #exit {
  cursor: pointer;
}

#bottom-menu-container {
  height: 80%;
}

#bottom-menu-column {
  height: 100%;
}

#bottom-menu-buffer {
  height: 50%;
}

#bottom-menu-content {
  height: 50%;
}

#arrow {
  position: fixed;
  top: 100%;
  transform: translateY(-100%);
  padding-bottom: 100px;
  z-index: 100;
}

#arrow:hover {
  cursor: pointer;
}

#blurb-container {
  height: 100%;
}

/*                                        Page Styling                                          */

#page-container {
  height: 100%;
  padding: 0;
}

#page-buffer-top {
  height: 18%;
}

#page-links-row {
  height: 18%;
}

#coming-soon {
  margin-bottom: 0;
  font-size: 15px;
}

#project-links {
  list-style: none;
  padding-left: 0;
  font-size: 15px;
}

.project-link-white {
  padding-bottom: 8px;
}

.project-link-white:hover {
  cursor: pointer;
}

.project-link-black {
  padding-bottom: 8px;
  color: black;
}

.project-link-black:hover {
  cursor: pointer;
}

#page-buffer-bottom {
  height: 14%;
}

#page-content {
  height: 50%;
  padding-bottom: 100px;
}

#project-info-container {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
}

.title-white{
  margin-bottom: 22px;
  font-size: 63px;
  font-family: avenir-bold;
}

.blurb-white{
  margin: 0;
  font-size: 18px;
  padding-right: 30%;
}

.title-black{
  margin-bottom: 22px;
  font-size: 63px;
  font-family: avenir-bold;
  color: black;
}

.blurb-black{
  margin: 0;
  font-size: 18px;
  padding-right: 30%;
  color: black;
}


/*                                        Menu Page Styling                                          */

#menu-page{
  height: 100vh;
  background: black;
  position: relative;
  z-index: 1000;
  opacity: 0.8;
}
