@font-face {
    font-family: avenirNext;
    src: url('assets/font/avenir_next.ttc');
}

@font-face {
    font-family: tiempos;
    src: url('assets/font/tiempos_headline-black.ttf');
}

.header {
  font-family: tiempos;
  color: #17202A
}

.blurb {
  font-family: avenirNext-Medium;
  color: #8392A6;
}

body {
  margin: 0px;
}




html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}





@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@-webkit-keyframes fade-In {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.fade-in {
  animation: fadeIn 1s forwards;
  -webkit-animation: fadeIn 1s forwards;
}
