.casestudy-container{
    width: 663px;
    position: relative;
    padding-left: 18px;
    /* left: 280px; */
    font-size: 26px;
    margin-left: 15%;
    margin-top: 0px;
    margin-bottom: 0px;
    top: -20px;
    /* margin: 40px auto 0px auto; */
}

.casestudy-container > .title-about-container {
  position: relative;
  right: 0px;
}

.casestudy-container > .title-about-container > .title{
  font-family: tiempos;
  color: #17202A;
  margin: 0px;
}

.casestudy-container > .title-about-container > .about{
  /* color: #17202A; */
  font-size: 16px;
  margin: 5px 0 0 0;
  font-weight: 600;
  width: 255px;
}

.casestudy-container  > .view-case-study-container > .view-case-study{
  margin-top: 12px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}

.casestudy-container  > .view-case-study-container > .arrow-icon{
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  height: 28px;
  width: 28px;
}


@keyframes transitionOut {
  0% {
    opacity: 1;
    right: 0px;
  }
  100% {
    opacity: 0;
    right: -75px;
  }
}

@-webkit-keyframes transitionOut {
  0% {
    opacity: 1;
    right: 0px;
  }
  100% {
    opacity: 0;
    right: -75px;
  }
}

.transition-out {
  animation: transitionOut 300ms forwards;
  -webkit-animation: transitionOut 300ms forwards;
}


@keyframes transitionIn {
  0% {
    opacity: 0;
    right: -75px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}

@-webkit-keyframes transitionIn {
  0% {
    opacity: 0;
    right: -75px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}

.transition-in {
  animation: transitionIn 300ms forwards;
  -webkit-animation: transitionIn 300ms forwards;
}







@keyframes greenToBlueText {
  0% { color: #22C995; fill: #22C995; }
  100% { color: #0509FF; fill: #0509FF; }
}

@-webkit-keyframes greenToBlueText {
  0% { color: #22C995; fill: #22C995; }
  100% { color: #0509FF; fill: #0509FF; }
}


@keyframes blueToGreenText {
  0% { color: #0509FF; fill: #0509FF; }
  100% { color: #22C995; fill: #22C995; }
}

@-webkit-keyframes blueToGreenText {
  0% { color: #0509FF; fill: #0509FF; }
  100% { color: #22C995; fill: #22C995; }
}

.casestudy-container  > .view-case-study-container > .view-case-study.green-to-blue {
  animation: greenToBlueText .4s forwards;
  -webkit-animation: greenToBlueText .4s forwards;
}
.casestudy-container  > .view-case-study-container > .view-case-study.blue-to-green {
  animation: blueToGreenText .4s forwards;
  -webkit-animation: blueToGreenText .4s forwards;
}




@keyframes blueToYellowText {
  0% { color: #0509FF; fill: #0509FF; }
  100% { color: #FFD83A; fill: #FFD83A; }
}

@-webkit-keyframes blueToYellowText {
  0% { color: #0509FF; fill: #0509FF; }
  100% { color: #FFD83A; fill: #FFD83A; }
}


@keyframes yellowToBlueText {
  0% { color: #FFD83A; fill: #FFD83A; }
  100% { color: #0509FF; fill: #0509FF; }
}

@-webkit-keyframes yellowToBlueText {
  0% { color: #FFD83A; fill: #FFD83A; }
  100% { color: #0509FF; fill: #0509FF; }
}

.casestudy-container  > .view-case-study-container > .view-case-study.blue-to-yellow {
  animation: blueToYellowText .4s forwards;
  -webkit-animation: blueToYellowText .4s forwards;
}
.casestudy-container  > .view-case-study-container > .view-case-study.yellow-to-blue {
  animation: yellowToBlueText .4s forwards;
  -webkit-animation: yellowToBlueText .4s forwards;
}




@keyframes yellowToPurpleText {
  0% { color: #FFD83A; fill: #FFD83A; }
  100% { color: #764ABC; fill: #764ABC; }
}

@-webkit-keyframes yellowToPurpleText {
  0% { color: #FFD83A; fill: #FFD83A; }
  100% { color: #764ABC; fill: #764ABC; }
}


@keyframes purpleToYellowText {
  0% { color: #764ABC; fill: #764ABC; }
  100% { color: #FFD83A; fill: #FFD83A; }
}

@-webkit-keyframes purpleToYellowText {
  0% { color: #764ABC; fill: #764ABC; }
  100% { color: #FFD83A; fill: #FFD83A; }
}

.casestudy-container  > .view-case-study-container > .view-case-study.yellow-to-purple {
  animation: yellowToPurpleText .4s forwards;
  -webkit-animation: yellowToPurpleText .4s forwards;
}
.casestudy-container  > .view-case-study-container > .view-case-study.purple-to-yellow {
  animation: purpleToYellowText .4s forwards;
  -webkit-animation: purpleToYellowText .4s forwards;
}




@keyframes purpleToNavyText {
  0% { color: #764ABC; fill: #764ABC; }
  100% { color: #0D2774; fill: #0D2774; }
}

@-webkit-keyframes purpleToNavyText {
  0% { color: #764ABC; fill: #764ABC; }
  100% { color: #0D2774; fill: #0D2774; }
}


@keyframes navyToPurpleText {
  0% { color: #0D2774; fill: #0D2774; }
  100% { color: #764ABC; fill: #764ABC; }
}

@-webkit-keyframes navyToPurpleText {
  0% { color: #0D2774; fill: #0D2774; }
  100% { color: #764ABC; fill: #764ABC; }
}

.casestudy-container  > .view-case-study-container > .view-case-study.purple-to-navy{
  animation: purpleToNavyText .4s forwards;
  -webkit-animation: purpleToNavyText .4s forwards;
}
.casestudy-container  > .view-case-study-container > .view-case-study.navy-to-purple {
  animation: navyToPurpleText .4s forwards;
  -webkit-animation: navyToPurpleText .4s forwards;
}
