.casestudy-container{
    width: 663px;
    position: relative;
    padding-left: 18px;
    /* left: 280px; */
    font-size: 26px;
    margin-left: 15%;
    margin-top: 0px;
    margin-bottom: 0px;
    top: -20px;
    /* margin: 40px auto 0px auto; */
}

.casestudy-container > .title-about-container {
  position: relative;
  right: 0px;
}

.casestudy-container > .title-about-container > .title{
  font-family: tiempos;
  color: #17202A;
  margin: 0px;
}

.casestudy-container > .title-about-container > .about{
  /* color: #17202A; */
  font-size: 16px;
  margin: 5px 0 0 0;
  font-weight: 600;
  width: 255px;
}

.casestudy-container  > .view-case-study-container > a > .view-case-study{
  margin-top: 12px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}

.casestudy-container  > .view-case-study-container > a > .arrow-icon{
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  height: 28px;
  width: 28px;
}


@keyframes transitionOut {
  0% {
    opacity: 1;
    right: 0px;
  }
  100% {
    opacity: 0;
    right: -75px;
  }
}

@-webkit-keyframes transitionOut {
  0% {
    opacity: 1;
    right: 0px;
  }
  100% {
    opacity: 0;
    right: -75px;
  }
}

.transition-out {
  animation: transitionOut 300ms forwards;
  -webkit-animation: transitionOut 300ms forwards;
}


@keyframes transitionIn {
  0% {
    opacity: 0;
    right: -75px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}

@-webkit-keyframes transitionIn {
  0% {
    opacity: 0;
    right: -75px;
  }
  100% {
    opacity: 1;
    right: 0px;
  }
}

.transition-in {
  animation: transitionIn 300ms forwards;
  -webkit-animation: transitionIn 300ms forwards;
}







@keyframes figToRedText {
  0% { color: #855267; fill: #855267; }
  100% { color: #bd362c; fill: #bd362c; }
}

@-webkit-keyframes figToRedText {
  0% { color: #855267; fill: #855267; }
  100% { color: #bd362c; fill: #bd362c; }
}


@keyframes redToFigText {
  0% { color: #bd362c; fill: #bd362c; }
  100% { color: #855267; fill: #855267; }
}

@-webkit-keyframes redToFigText {
  0% { color: #bd362c; fill: #bd362c; }
  100% { color: #855267; fill: #855267; }
}

.casestudy-container  > .view-case-study-container > a > .view-case-study.fig-to-red {
  animation: figToRedText .4s forwards;
  -webkit-animation: figToRedText .4s forwards;
}
.casestudy-container  > .view-case-study-container > a > .view-case-study.red-to-fig {
  animation: redToFigText .4s forwards;
  -webkit-animation: redToFigText .4s forwards;
}




@keyframes redToBlueText {
  0% { color: #bd362c; fill: #bd362c; }
  100% { color: #00279a; fill: #00279a; }
}

@-webkit-keyframes redToBlueText {
  0% { color: #bd362c; fill: #bd362c; }
  100% { color: #00279a; fill: #00279a; }
}


@keyframes blueToRedText {
  0% { color: #00279a; fill: #00279a; }
  100% { color: #bd362c; fill: #bd362c; }
}

@-webkit-keyframes blueToRedText {
  0% { color: #00279a; fill: #00279a; }
  100% { color: #bd362c; fill: #bd362c; }
}

.casestudy-container  > .view-case-study-container > a > .view-case-study.red-to-blue {
  animation: redToBlueText .4s forwards;
  -webkit-animation: redToBlueText .4s forwards;
}
.casestudy-container  > .view-case-study-container > a > .view-case-study.blue-to-red {
  animation: blueToRedText .4s forwards;
  -webkit-animation: blueToRedText .4s forwards;
}




@keyframes blueToAquaText {
  0% { color: #00279a; fill: #00279a; }
  100% { color: #1aa7bb; fill: #1aa7bb; }
}

@-webkit-keyframes blueToAquaText {
  0% { color: #00279a; fill: #00279a; }
  100% { color: #1aa7bb; fill: #1aa7bb; }
}


@keyframes aquaToBlueText {
  0% { color: #1aa7bb; fill: #1aa7bb; }
  100% { color: #00279a; fill: #00279a; }
}

@-webkit-keyframes aquaToBlueText {
  0% { color: #1aa7bb; fill: #1aa7bb; }
  100% { color: #00279a; fill: #00279a; }
}

.casestudy-container  > .view-case-study-container > a > .view-case-study.blue-to-aqua {
  animation: blueToAquaText .4s forwards;
  -webkit-animation: blueToAquaText .4s forwards;
}
.casestudy-container  > .view-case-study-container > a > .view-case-study.aqua-to-blue{
  animation: aquaToBlueText .4s forwards;
  -webkit-animation: aquaToBlueText .4s forwards;
}




@keyframes aquaToBlackText {
  0% { color: #1aa7bb; fill: #1aa7bb; }
  100% { color: #000000; fill: #000000; }
}

@-webkit-keyframes aquaToBlackText {
  0% { color: #1aa7bb; fill: #1aa7bb; }
  100% { color: #000000; fill: #000000; }
}


@keyframes blackToAquaText {
  0% { color: #000000; fill: #000000; }
  100% { color: #1aa7bb; fill: #1aa7bb; }
}

@-webkit-keyframes blackToAquaText {
  0% { color: #000000; fill: #000000; }
  100% { color: #1aa7bb; fill: #1aa7bb; }
}

.casestudy-container  > .view-case-study-container > a > .view-case-study.aqua-to-black{
  animation: aquaToBlackText .4s forwards;
  -webkit-animation: aquaToBlackText .4s forwards;
}
.casestudy-container  > .view-case-study-container > a > .view-case-study.black-to-aqua {
  animation: blackToAquaText .4s forwards;
  -webkit-animation: blackToAquaText .4s forwards;
}

@media(max-width: 875px){
  .casestudy-container {
    width: 100%;
    left: auto;
    margin: 0px;
    top: auto;
    padding-left: 35px;
  }
}
