.home.item {
  /* width: 663px;
  position: relative; */
  max-width: 1200px;
  margin: 0 auto;
}

.home.item > .header {
  font-family: tiempos;
  color: #17202A;
  width: 663px;
  font-size: 80px;
  /* margin: 75px auto 0px auto; */
  padding-left: 15px;
  position: relative;
  margin-left: 15%;
  /* left: 280px; */
  margin-top: 110px;
  margin-bottom: 50px;
}

.home.item > .blurb {
  width: 663px;
  position: relative;
  padding-left: 15px;
  /* left: 280px; */
  font-size: 26px;
  margin-left: 15%;
  margin-top: 0px;
  margin-bottom: 0px;
  /* margin: 40px auto 0px auto; */
}


@media(max-width: 875px){
  .casestudy-container{
    /* display: none; */
  }
  .home.item > .header{
    padding-left: 0px;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .home.item > .blurb{
    padding-left: 0px;
    width: 100%;
    margin-left: 0;
  }
}
