.home.item {
  /* width: 663px;
  position: relative; */
  max-width: 1200px;
  margin: 0 auto;
}

.home.item > .header {
  width: 663px;
  font-size: 80px;
  /* margin: 75px auto 0px auto; */
  padding-left: 30px;
  position: relative;
  margin-left: 17%;
  /* left: 280px; */
  margin-top: 110px;
  margin-bottom: 50px;
}

.home.item > .blurb {
  width: 663px;
  position: relative;
  padding-left: 30px;
  /* left: 280px; */
  font-size: 26px;
  margin-left: 17%;
  margin-top: 0px;
  margin-bottom: 0px;
  /* margin: 40px auto 0px auto; */
}
