.worktimeline-container {
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}




@keyframes shrink {
  0% { height: 270px; width: 270px; box-shadow: 0 2px 54px 0 #E8EEF5;}
  100% { height: 220px; width: 220px; box-shadow: '0 2px 10px 0 #E8EEF5'}
}

@-webkit-keyframes shrink {
  0% { height: 270px; width: 270px; box-shadow: 0 2px 54px 0 #E8EEF5;}
  100% { height: 220px; width: 220px; box-shadow: '0 2px 10px 0 #E8EEF5'}
}

.shrink {
  animation: shrink .4s forwards;
  -webkit-animation: shrink .4s forwards;
}


@keyframes grow {
  0% { height: 220px; width: 220px; box-shadow: '0 2px 10px 0 #E8EEF5'}
  100% { height: 270px; width: 270px; box-shadow: 0 2px 54px 0 #E8EEF5;}
}

@-webkit-keyframes grow {
  0% { height: 220px; width: 220px; box-shadow: '0 2px 10px 0 #E8EEF5'}
  100% { height: 270px; width: 270px; box-shadow: 0 2px 54px 0 #E8EEF5;}
}

.grow {
  /* background: red!important; */
  animation: grow .4s forwards;
  -webkit-animation: grow .4s forwards;
}




@keyframes hoveredToGrow {
  0% { height: 235px; width: 235px; box-shadow: '0 2px 10px 0 #E8EEF5'}
  100% { height: 270px; width: 270px; box-shadow: 0 2px 54px 0 #E8EEF5;}
}

@-webkit-keyframes hoveredToGrow {
  0% { height: 235px; width: 235px; box-shadow: '0 2px 10px 0 #E8EEF5'}
  100% { height: 270px; width: 270px; box-shadow: 0 2px 54px 0 #E8EEF5;}
}

.hovered-to-grow {
  /* background: red!important; */
  animation: grow .4s forwards;
  -webkit-animation: grow .4s forwards;
}






@keyframes rested {
  0% { height: 235px; width: 235px;}
  100% { height: 220px; width: 220px;}
}

@-webkit-keyframes rested {
  0% { height: 235px; width: 235px;}
  100% { height: 220px; width: 220px;}
}

.rested {
  animation: rested .3s forwards;
  -webkit-animation: rested .3s forwards;
}


@keyframes hovered {
  0% { height: 220px; width: 220px;}
  100% { height: 235px; width: 235px;}
}

@-webkit-keyframes hovered {
  0% { height: 220px; width: 220px;}
  100% { height: 235px; width: 235px;}
}

.hovered {
  animation: hovered .3s forwards;
  -webkit-animation: hovered .3s forwards;
}





@keyframes blackToGray {
  0% { background-color: #17202A; color: #17202A; fill: #17202A;}
  100% { background-color: #8392A6; color: #8392A6; fill: #8392A6; }
}

@-webkit-keyframes blackToGray {
  0% { background-color: #17202A; color: #17202A; fill: #17202A; }
  100% { background-color: #8392A6; color: #8392A6; fill: #8392A6; }
}

@keyframes grayToBlack {
  0% { background-color: #8392A6; color: #8392A6; fill: #8392A6; }
  100% { background-color: #17202A; color: #17202A; fill: #17202A; }
}

@-webkit-keyframes grayToBlack {
  0% { background-color: #8392A6; color: #8392A6; fill: #8392A6; }
  100% { background-color: #17202A; color: #17202A; fill: #17202A; }
}

.black-to-gray {
  animation: blackToGray .4s forwards;
  -webkit-animation: blackToGray .4s forwards;
}

.gray-to-black {
  animation: grayToBlack .4s forwards;
  -webkit-animation: grayToBlack .4s forwards;
}



@keyframes grayToBlue {
  0% { background-color: #8392A6; color: #8392A6; fill: #8392A6; }
  100% { background-color: #0509FF; color: #0509FF; fill: #0509FF; }
}

@-webkit-keyframes grayToBlue {
  0% { background-color: #8392A6; color: #8392A6; fill: #8392A6; }
  100% { background-color: #0509FF; color: #0509FF; fill: #0509FF; }
}

@keyframes blueToGray {
  0% { background-color: #0509FF; color: #0509FF; fill: #0509FF; }
  100% { background-color: #8392A6; color: #8392A6; fill: #8392A6; }
}

@-webkit-keyframes blueToGray {
  0% { background-color: #0509FF; color: #0509FF; fill: #0509FF; }
  100% { background-color: #8392A6; color: #8392A6; fill: #8392A6; }
}

.gray-to-blue {
  animation: grayToBlue .4s forwards;
  -webkit-animation: grayToBlue .4s forwards;
}

.blue-to-gray {
  animation: blueToGray .4s forwards;
  -webkit-animation: blueToGray .4s forwards;
}





@keyframes blueToGreen {
  0% { background-color: #0509FF; color: #0509FF; fill: #0509FF; }
  100% { background-color: #22C995; color: #22C995; fill: #22C995; }
}

@-webkit-keyframes blueToGreen {
  0% { background-color: #0509FF; color: #0509FF; fill: #0509FF; }
  100% { background-color: #22C995; color: #22C995; fill: #22C995; }
}

@keyframes greenToBlue {
  0% { background-color: #22C995; color: #22C995; fill: #22C995; }
  100% { background-color: #0509FF; color: #0509FF; fill: #0509FF; }
}

@-webkit-keyframes greenToBlue {
  0% { background-color: #22C995; color: #22C995; fill: #22C995; }
  100% { background-color: #0509FF; color: #0509FF; fill: #0509FF; }
}

.blue-to-green {
  animation: blueToGreen .4s forwards;
  -webkit-animation: blueToGreen .4s forwards;
}

.green-to-blue{
  animation: greenToBlue .4s forwards;
  -webkit-animation: greenToBlue .4s forwards;
}





@keyframes greenToYellow {
  0% { background-color: #22C995; color: #22C995; fill: #22C995; }
  100% { background-color: #FFD83A; color: #FFD83A; fill: #FFD83A; }
}

@-webkit-keyframes greenToYellow {
  0% { background-color: #22C995; color: #22C995; fill: #22C995; }
  100% { background-color: #FFD83A; color: #FFD83A; fill: #FFD83A; }
}


@keyframes yellowToGreen {
  0% { background-color: #FFD83A; color: #FFD83A; fill: #FFD83A; }
  100% { background-color: #22C995; color: #22C995; fill: #22C995; }
}

@-webkit-keyframes yellowToGreen {
  0% { background-color: #FFD83A; color: #FFD83A; fill: #FFD83A; }
  100% { background-color: #22C995; color: #22C995; fill: #22C995; }
}

.green-to-yellow {
  animation: greenToYellow .4s forwards;
  -webkit-animation: greenToYellow .4s forwards;
}
.yellow-to-green {
  animation: yellowToGreen .4s forwards;
  -webkit-animation: yellowToGreen .4s forwards;
}
